# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [7]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [8]:

# Output File (CSV)
input_data_file = "../Weather/output_data/cities.csv"


city_df = pd.read_csv(input_data_file)
city_df

,Unnamed: 0,City,Latitude,Longitude,Max Temperature (F),Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Mahébourg,-20.41,57.70,69.80,64,75,18.34,MU,1594418872
1,1,Lompoc,34.64,-120.46,75.99,68,0,14.99,US,1594418900
2,2,Forsytheganj,52.63,29.73,64.67,95,80,10.42,BY,1594418900
3,3,Bikin,46.82,134.26,62.46,84,1,3.49,RU,1594418900
4,4,Vostok,46.49,135.88,59.86,85,0,2.51,RU,1594418900
...,...,...,...,...,...,...,...,...,...,...
568,568,Thaba-Tseka,-29.52,28.61,45.45,67,1,20.96,LS,1594418951
569,569,Zvishavane,-20.33,30.07,62.46,55,32,5.39,ZW,1594418951
570,570,Requena,39.49,-1.10,71.01,50,4,5.46,ES,1594418951
571,571,Mitú,1.20,-70.17,77.34,94,100,1.90,CO,1594418951
572,572,Wanlaweyn,2.62,44.89,76.55,80,89,15.48,SO,1594418951

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [21]:
# Plot Heatmap
gmaps.configure(api_key=g_key)

fig = gmaps.figure()
# Create heat layer

locations = city_df[['Latitude','Longitude']]

weight = city_df['Humidity']

heat_layer = gmaps.heatmap_layer(locations, weights=weight,
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
clean_df = city_df.loc[(city_df['Max Temperature (F)'] > 70 ) & (city_df['Max Temperature (F)'] < 85) & (city_df['Wind Speed'] < 10 ) & (city_df['Cloudiness'] == 0),]
clean_df.dropna(inplace=True)
clean_df
print(clean_df.count())

Unnamed: 0             17
City                   17
Latitude               17
Longitude              17
Max Temperature (F)    17
Humidity               17
Cloudiness             17
Wind Speed             17
Country                17
Date                   17
dtype: int64

C:\Users\Bill\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
hotel_df = clean_df.copy()
hotel_df['Hotel Name'] = 'None'
hotel_df

,Unnamed: 0,City,Latitude,Longitude,Max Temperature (F),Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
94,94,Kumluca,36.37,30.29,83.64,45,0,4.14,TR,1594418908,None
117,117,Djebeniana,35.03,10.91,78.80,74,0,3.36,TN,1594418910,None
156,156,Silifke,36.38,33.93,81.48,58,0,2.21,TR,1594418914,None
159,159,Avila,40.58,-5.00,71.01,53,0,8.01,ES,1594418914,None
170,170,Torrox,36.76,-3.95,75.00,73,0,2.59,ES,1594418915,None
175,175,Kiryat Gat,31.61,34.76,79.00,73,0,1.28,IL,1594418701,None
222,222,Sulina,45.16,29.65,70.34,62,0,4.74,RO,1594418920,None
239,239,Diamantino,-14.41,-56.45,77.72,38,0,3.20,BR,1594418922,None
298,298,Misratah,32.38,15.09,75.74,80,0,9.95,LY,1594418928,None
334,334,Lata,40.16,-8.33,73.99,86,0,1.19,PT,1594418931,None
430,430,La Santisima Trinidad,-14.83,-64.90,74.97,73,0,3.31,BO,1594418829,None
456,456,Susurluk,39.91,28.16,71.60,68,0,5.82,TR,1594418941,None
469,469,Santa Cruz,30.42,-9.60,71.60,73,0,3.36,MA,1594418942,None
501,501,Durrës,41.32,19.44,71.60,68,0,3.36,AL,1594418945,None
505,505,Ubari,26.59,12.78,83.53,22,0,6.78,LY,1594418945,None
553,553,Tshikapa,-6.42,20.80,75.92,34,0,2.30,CD,1594418949,None
561,561,Beyneu,45.32,55.20,84.09,20,0,7.16,KZ,1594418950,None

In [12]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": "0,0",  # default ,
    "radius" : "5000",
    "type": "restaurant",
    "key": g_key,
}
# use iterrows to iterate through hotel dataframe
for index, row in hotel_df.iterrows():

    # get longitude and latitude from dataframe
    lat = row['Latitude']
    lng = row['Longitude']
    
    params["location"] = f"{lat},{lng}"
    
    temp = params["location"]
    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {temp}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest restaurant is {results[0]['name']}.")
        
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
       
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 94: 36.37,30.29.
Closest restaurant is Çiğ Köfteci Sait Hasan Köse'nin Yeri.
------------
Retrieving Results for Index 117: 35.03,10.91.
Closest restaurant is Restaurant Zitouna.
------------
Retrieving Results for Index 156: 36.38,33.93.
Closest restaurant is Meshur Adiyaman Cig Koftecisi Omer Usta.
------------
Retrieving Results for Index 159: 40.58,-5.0.
Closest restaurant is Restaurante La Travesia.
------------
Retrieving Results for Index 170: 36.76,-3.95.
Closest restaurant is Hotel La Casa.
------------
Retrieving Results for Index 175: 31.61,34.76.
Closest restaurant is גבטו- קרית גת.
------------
Retrieving Results for Index 222: 45.16,29.65.
Closest restaurant is Pensiunea Perla Sulina.
------------
Retrieving Results for Index 239: -14.41,-56.45.
Closest restaurant is Pizzaria Nápolis (Velho) Diamantino.
------------
Retrieving Results for Index 298: 32.38,15.09.
Closest restaurant is مطعم ستي فود City Food.
------------
Retrieving Results for Index 334: 40.16,-8.33.
Closest restaurant is Cheiro Guloso.
------------
Retrieving Results for Index 430: -14.83,-64.9.
Closest restaurant is ORALE - ROCA CREAM.
------------
Retrieving Results for Index 456: 39.91,28.16.
Closest restaurant is Yasa Dinlenme Tesisi.
------------
Retrieving Results for Index 469: 30.42,-9.6.
Closest restaurant is Tildi Hotel.
------------
Retrieving Results for Index 501: 41.32,19.44.
Closest restaurant is Aragosta Hotel & Restaurant.
------------
Retrieving Results for Index 505: 26.59,12.78.
Closest restaurant is مطعم المدينة اوباري.
------------
Retrieving Results for Index 553: -6.42,20.8.
Closest restaurant is PLAGE ESPACE VULE.
------------
Retrieving Results for Index 561: 45.32,55.2.
Closest restaurant is Нұрдəулет тойханасы.
------------

In [22]:
hotel_df

,Unnamed: 0,City,Latitude,Longitude,Max Temperature (F),Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
94,94,Kumluca,36.37,30.29,83.64,45,0,4.14,TR,1594418908,Çiğ Köfteci Sait Hasan Köse'nin Yeri
117,117,Djebeniana,35.03,10.91,78.80,74,0,3.36,TN,1594418910,Restaurant Zitouna
156,156,Silifke,36.38,33.93,81.48,58,0,2.21,TR,1594418914,Meshur Adiyaman Cig Koftecisi Omer Usta
159,159,Avila,40.58,-5.00,71.01,53,0,8.01,ES,1594418914,Restaurante La Travesia
170,170,Torrox,36.76,-3.95,75.00,73,0,2.59,ES,1594418915,Hotel La Casa
175,175,Kiryat Gat,31.61,34.76,79.00,73,0,1.28,IL,1594418701,גבטו- קרית גת
222,222,Sulina,45.16,29.65,70.34,62,0,4.74,RO,1594418920,Pensiunea Perla Sulina
239,239,Diamantino,-14.41,-56.45,77.72,38,0,3.20,BR,1594418922,Pizzaria Nápolis (Velho) Diamantino
298,298,Misratah,32.38,15.09,75.74,80,0,9.95,LY,1594418928,مطعم ستي فود City Food
334,334,Lata,40.16,-8.33,73.99,86,0,1.19,PT,1594418931,Cheiro Guloso
430,430,La Santisima Trinidad,-14.83,-64.90,74.97,73,0,3.31,BO,1594418829,ORALE - ROCA CREAM
456,456,Susurluk,39.91,28.16,71.60,68,0,5.82,TR,1594418941,Yasa Dinlenme Tesisi
469,469,Santa Cruz,30.42,-9.60,71.60,73,0,3.36,MA,1594418942,Tildi Hotel
501,501,Durrës,41.32,19.44,71.60,68,0,3.36,AL,1594418945,Aragosta Hotel & Restaurant
505,505,Ubari,26.59,12.78,83.53,22,0,6.78,LY,1594418945,مطعم المدينة اوباري
553,553,Tshikapa,-6.42,20.80,75.92,34,0,2.30,CD,1594418949,PLAGE ESPACE VULE
561,561,Beyneu,45.32,55.20,84.09,20,0,7.16,KZ,1594418950,Нұрдəулет тойханасы

In [23]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [24]:
# Add marker layer ontop of heat map

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Display figure
fig.add_layer(marker_layer)

In [25]:
fig

Figure(layout=FigureLayout(height='420px'))